@import "../../../_vendor/bourbon/bourbon"
@import "../../../_vendor/uptilt/uptilt"

body
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/furley_bg.png)

.clearfix:after
   content: " "
   display: block
   height: 0
   clear: both

.wow
  animation-duration: 1.5s

.everything-else
  display: none

@import "partials/header"
@import "partials/about"
@import "partials/projects"
@import "partials/contact"
