@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700|Lato:400,700,300|Permanent+Marker);
:root {
  font-size: 16px;
  font-size: calc( 12px + ( 21 - 12 ) * ( (100vw - 500px) / ( 1600 - 500 ) )); }
  @media screen and (max-width: 500px) {
    :root {
      font-size: 12px; } }
  @media screen and (min-width: 1600px) {
    :root {
      font-size: 21px; } }

body {
  margin: auto;
  color: #444444;
  font-family: "Roboto", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum";
  font-size: 1rem;
  line-height: 1.5; }

p {
  margin: 0 0 1.5em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #444444;
  line-height: 1;
  margin: 0.5em 0;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

h1 {
  font-size: 3.157rem; }

h2 {
  font-size: 2.369rem; }

h3 {
  font-size: 1.777rem; }

h4 {
  font-size: 1.333rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 1rem; }

small {
  font-size: 0.75rem; }

a {
  color: #3498DB;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #2772a4; }

hr {
  border-bottom: 2px solid #DDDDDD;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

iframe {
  max-width: 100%; }

.iframe-wrap {
  margin-bottom: 1.5em; }

blockquote {
  margin: 0.75em;
  padding-left: 1.0em;
  border-left: 0.375em solid #3498DB; }

table {
  border-collapse: collapse;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
          font-feature-settings: "kern", "liga", "tnum";
  margin: .75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: .75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDDDDD;
  padding: .75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0; }

dl {
  margin-bottom: .75em; }
  dl dt {
    font-weight: bold;
    margin-top: .75em; }
  dl dd {
    margin: 0; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #b9b9b9;
  margin: 1.5em 0;
  padding: 1.0em; }

label {
  font-size: 1em;
  font-family: "Roboto", sans-serif; }
  label:hover {
    cursor: pointer; }

label,
input {
  display: block; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  font-size: 0.75em;
  font-family: inherit;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.06);
  padding: 1.0em;
  margin-bottom: 1.5em;
  width: 100%;
  -webkit-transition: border ease .3s;
  transition: border ease .3s;
  box-sizing: border-box; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border: 1px solid #3498DB; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border: 1px solid #2ECC71;
    box-shadow: 0px 0px 2px #239a55;
    outline: none; }

textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical; }

input[type=checkbox],
input[type=radio] {
  display: inline-block; }
  input[type=checkbox]:hover,
  input[type=radio]:hover {
    cursor: pointer; }

input[type=range],
input[type=color],
input[type=file] {
  cursor: pointer; }

input[type=color] {
  font-size: 1em;
  height: 2em;
  width: 100%;
  padding: 0.25em; }

select {
  font-size: 0.75em;
  line-height: 1.5; }

.ut-block-text {
  margin: 0 auto 1.5em;
  max-width: 45rem; }

.ut-left {
  float: left; }

.ut-right {
  float: right; }

.ut-text-left {
  text-align: left; }

.ut-text-right {
  text-align: right; }

.ut-text-center {
  text-align: center; }

.ut-hide {
  display: none; }

.ut-inline {
  display: inline; }

.ut-block {
  display: block; }

.ut-inline-block {
  display: inline-block; }

/**
*	Thanks to the guys who made Buttonplate for this.
*	Stripped it down to include in this project more fluently.
**/
.ut-modal-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.ut-modal-no-scroll {
  overflow: hidden; }

.ut-modal-show {
  display: block !important; }

body {
  background: url("../img/body-bg.png"); }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

.wow {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }

.form-error {
  display: inline-block;
  color: #E74C3C;
  font-weight: bold;
  font-size: 1rem; }

.flash-message-container {
  position: fixed;
  display: none;
  text-align: center;
  width: 100%;
  top: 5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.flash-message-wrap {
  display: inline-block;
  max-width: 90%;
  margin: auto; }

.flash-hide-success {
  background-color: #e6efc2;
  color: #788d25;
  display: block;
  box-shadow: 0px 0px 5px #d2e292;
  border: 1px solid #e3edba;
  margin-bottom: 1em;
  padding: .25em;
  text-align: center;
  border-radius: 2px;
  padding: 1em;
  margin: auto; }
  .flash-hide-success:hover {
    cursor: pointer;
    background-color: #e8f0c6;
    box-shadow: 0px 0px 5px #d7e59e;
    border: 1px solid #e4eebe;
    color: #89a12a; }
  .flash-hide-success p {
    margin-bottom: 0; }
    .flash-hide-success p:first-of-type {
      display: inline-block; }
  .flash-hide-success a {
    color: #333c10;
    text-decoration: underline; }
    .flash-hide-success a:focus, .flash-hide-success a:hover {
      color: black; }

.flash-hide-error {
  background-color: #fbe3e4;
  color: #c31c23;
  display: block;
  box-shadow: 0px 0px 5px #f3adb0;
  border: 1px solid #fadadb;
  margin-bottom: 1em;
  padding: .25em;
  text-align: center;
  border-radius: 2px;
  padding: 1em;
  margin: auto; }
  .flash-hide-error:hover {
    cursor: pointer;
    background-color: #fce7e8;
    box-shadow: 0px 0px 5px #f5bbbd;
    border: 1px solid #fadfe0;
    color: #d91f27; }
  .flash-hide-error p {
    margin-bottom: 0; }
    .flash-hide-error p:first-of-type {
      display: inline-block; }
  .flash-hide-error a {
    color: #6a0f13;
    text-decoration: underline; }
    .flash-hide-error a:focus, .flash-hide-error a:hover {
      color: #110203; }

.header-container {
  position: relative;
  overflow: hidden;
  min-height: 20em;
  height: 100vh;
  width: 100%; }

.header-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../img/header-bg3.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1; }

.resume-link-header {
  position: absolute;
  top: 1em;
  right: 1em;
  color: white; }
  .resume-link-header a {
    color: white;
    text-decoration: underline; }
  .resume-link-header a:hover {
    color: #cccccc; }
  .resume-link-header a:active {
    color: #999999; }

.header-wrap {
  height: 100%; }

.header-nq {
  position: relative;
  top: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: #FFFFFF;
  padding: 0 0.5em;
  -webkit-transition: top ease 1s;
  transition: top ease 1s; }
  .header-nq h1 {
    font-weight: normal;
    margin-top: 0;
    opacity: 0;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(68, 68, 68, 0.75);
    -webkit-transition: opacity ease 2s;
    transition: opacity ease 2s; }
  .header-nq p {
    position: relative;
    left: 150%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 30rem;
    text-shadow: 2px 2px 2px rgba(68, 68, 68, 0.75);
    -webkit-transition: left ease 1s;
    transition: left ease 1s;
    margin-top: 0.5em; }
  .header-nq .tagline {
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    text-align: center;
    margin: 0.5em auto;
    margin-bottom: 1.5em;
    max-width: 40em;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(68, 68, 68, 0.75);
    background: rgba(68, 68, 68, 0.5);
    padding: 0.5em;
    border-radius: 2px; }
    .header-nq .tagline::before, .header-nq .tagline::after {
      background-color: #FFFFFF;
      content: "";
      display: inline-block;
      height: 2px;
      position: relative;
      vertical-align: middle;
      width: 50%; }
    .header-nq .tagline::before {
      right: 0.5em;
      margin-left: -50%; }
    .header-nq .tagline::after {
      left: 0.5em;
      margin-right: -50%; }

.header-nav {
  text-align: right;
  font-size: 1.5em;
  color: #FFFFFF; }
  .header-nav ul {
    position: absolute;
    top: 0;
    right: 0; }
    .header-nav ul li {
      display: inline-block; }

.about-me-container {
  position: relative;
  overflow: hidden; }

.about-me-wrap {
  position: relative;
  margin-bottom: 5em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5em;
  text-align: center; }
  .about-me-wrap h1 {
    position: relative;
    margin-bottom: 1em;
    -webkit-transition: left ease 1s;
    transition: left ease 1s;
    text-transform: none; }

.detail-intro p:last-child {
  margin-bottom: 0; }

.detail-intro img {
  width: 10em;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #999999; }

#gravitar {
  width: 10em; }

#stevek {
  float: right; }

.detail-block {
  padding: 1em 2em;
  max-width: 40em; }
  .detail-block div {
    margin-top: 0.5em; }
    .detail-block div p {
      margin-bottom: 0; }
    .detail-block div h4 {
      margin-top: 0; }
  .detail-block img {
    width: 6em;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #999999; }

.detail-block-left {
  margin: 5em auto 5em 1em;
  text-align: left; }
  .detail-block-left img {
    float: left;
    margin-right: 1em; }

.detail-block-right {
  margin: 5em 1em 5em auto;
  text-align: right; }
  .detail-block-right img {
    float: right;
    margin-left: 1em; }

@media screen and (max-width: 600px) {
  .detail-block-left,
  .detail-block-right {
    float: none;
    text-align: center;
    margin: 2em auto 2em auto; }
    .detail-block-left img,
    .detail-block-right img {
      float: none;
      margin: 0 0 1em 0; } }

.the-details {
  text-align: center;
  margin: auto;
  max-width: 40em; }
  .the-details h3 {
    margin-top: 0.25em; }
  .the-details img {
    width: 6em;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #999999; }
  .the-details p {
    margin-bottom: 0; }

.projects-container {
  overflow: hidden; }
  .projects-container hr {
    margin: auto;
    margin-top: 0.5em;
    max-width: 90%;
    box-shadow: 0px -1px 3px rgba(153, 153, 153, 0.9);
    border-color: #919191; }

.projects-wrap {
  padding: 0.5em;
  text-align: center;
  z-index: 1;
  max-width: 1200px;
  margin: auto; }
  .projects-wrap h1 {
    text-transform: none; }

@media screen and (max-width: 650px) {
  .projects-wrap {
    padding-bottom: 3em; } }

.project-container {
  position: relative;
  max-width: 40em;
  margin-top: 3em;
  margin-bottom: 3em; }

@media screen and (max-width: 650px) {
  .project-container {
    margin: 3em auto;
    float: none !important;
    text-align: center !important; } }

.project-container.left-side {
  float: left;
  text-align: left; }

.project-container.right-side {
  float: right;
  text-align: right; }

.project-arrow-left.open-right i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }

.project-arrow-right.open-left i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.project-arrow-right {
  position: absolute;
  top: 50%;
  right: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .project-arrow-right:hover {
    cursor: pointer; }
  .project-arrow-right i {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }

.project-arrow-left {
  position: absolute;
  top: 50%;
  left: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .project-arrow-left:hover {
    cursor: pointer; }
  .project-arrow-left i {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }

@media screen and (max-width: 650px) {
  .project-arrow-right,
  .project-arrow-left {
    top: auto;
    right: auto;
    bottom: -15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

#project-1-arrow {
  color: #32BEA6; }

#project-2-arrow {
  color: #E04F5F; }

#project-3-arrow {
  color: #25B7D3; }

.p-slide-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 0.33em;
  padding: 0.5em; }
  .p-slide-wrap .bg-image {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-10deg) scale(1.5);
            transform: translateY(-50%) translateX(-50%) rotate(-10deg) scale(1.5); }

.p-slides {
  text-shadow: 2px 2px 2px white;
  position: relative;
  left: 0;
  min-width: 200%;
  -webkit-transition: left ease 1s;
  transition: left ease 1s; }
  .p-slides .project-slide {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left; }
    .p-slides .project-slide h4 {
      font-weight: normal;
      text-shadow: 2px 2px 2px rgba(221, 221, 221, 0.75);
      text-decoration: underline; }
      .p-slides .project-slide h4 a {
        color: inherit; }
    .p-slides .project-slide div {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 50%;
      text-align: center; }
    .p-slides .project-slide img {
      width: 6em;
      margin: auto 1em; }

.p-slides-left div {
  left: -50%; }

.p-slides-left.open-left {
  left: 75%; }

.p-slides-right div {
  left: 50%; }

.p-slides-right.open-right {
  left: -75%; }

.old-projects {
  float: left;
  width: 100%;
  text-align: center; }

.contact-container {
  position: relative;
  box-shadow: 0px -3px 5px rgba(153, 153, 153, 0.6);
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
  min-height: 100vh; }
  .contact-container hr:last-child {
    margin-bottom: 0; }

.footer-wrap {
  padding-bottom: 2em;
  text-align: center;
  color: rgba(153, 153, 153, 0.5); }
  .footer-wrap hr {
    border-color: rgba(153, 153, 153, 0.5);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; }
  .footer-wrap p {
    color: #FFFFFF; }

.contact-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1; }

.contact-wrap {
  padding: 0.5em;
  text-align: center;
  max-width: 1200px;
  margin: auto; }
  .contact-wrap h1 {
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(56, 56, 56, 0.9);
    text-transform: none; }
  .contact-wrap p {
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(56, 56, 56, 0.9); }

.contact-form-wrap {
  text-align: left;
  padding: 1em;
  max-width: 900px;
  margin: auto;
  color: white; }

.contact-submit-button {
  position: relative;
  display: inline-block;
  color: #666666;
  -moz-text-decoration: none;
  vertical-align: middle;
  border: none;
  background-color: #ddd;
  outline: none;
  -webkit-appearance: none;
  padding: 1em 2em;
  font-size: 1em;
  font-family: inherit;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 3px;
  color: #fff;
  background-color: #32BEA6;
  border: 1px solid #32BEA6;
  width: 100%; }
  .contact-submit-button:visited {
    color: #666666; }
  .contact-submit-button:hover {
    cursor: pointer;
    background-color: #ebebeb; }
  .contact-submit-button:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15) inset;
    text-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0;
    background-color: #ddd; }
  .contact-submit-button:disabled {
    cursor: not-allowed;
    color: white;
    border-color: gray;
    background-color: gray; }
    .contact-submit-button:disabled:hover {
      color: white;
      border-color: gray;
      background-color: gray; }
    .contact-submit-button:disabled:active {
      color: white;
      border-color: gray;
      background-color: gray;
      box-shadow: none;
      text-shadow: none; }
  .contact-submit-button:visited {
    color: #fff; }
  .contact-submit-button:hover {
    background-color: #34d6ba;
    border: 1px solid #34d6ba; }
  .contact-submit-button:active {
    color: #1f7567;
    background-color: #32BEA6; }
