//===========
// About me
.about-me-container
  position: relative
  overflow: hidden


.about-me-wrap
  position: relative
  margin-bottom: 5em
  max-width: 1200px
  margin: 0 auto
  padding: 0.5em
  text-align: center
  h1
    position: relative
    margin-bottom: 1em
    transition: left ease 1s
    text-transform: none

.detail-intro
  p:last-child
    margin-bottom: 0
  img
    width: 10em
    border-radius: 50%
    box-shadow: 2px 2px 5px $ut-color-medium-gray

#gravitar
  width: 10em

#stevek
  float: right

.detail-block
  padding: 1em 2em
  max-width: 40em
  div
    margin-top: 0.5em
    p
      margin-bottom: 0
    h4
      margin-top: 0
  img
    width: 6em
    border-radius: 50%
    box-shadow: 2px 2px 5px $ut-color-medium-gray

.detail-block-left
  margin: 5em auto 5em 1em
  text-align: left
  img
    float: left
    margin-right: 1em

.detail-block-right
  margin: 5em 1em 5em auto
  text-align: right
  img
    float: right
    margin-left: 1em
@media screen and (max-width: 600px)
  .detail-block-left,
  .detail-block-right
    float: none
    text-align: center
    margin: 2em auto 2em auto
    img
      float: none
      margin: 0 0 1em 0

.the-details
  text-align: center
  margin: auto
  max-width: 40em
  h3
    margin-top: 0.25em
  img
    width: 6em
    border-radius: 50%
    box-shadow: 2px 2px 5px $ut-color-medium-gray
  p
    margin-bottom: 0

// About Me Section
//==================
