//========
// Header
.header-container
  position: relative
  overflow: hidden
  min-height: 20em
  height: 100vh
  width: 100%

.header-bg
  position: absolute
  height: 100%
  width: 100%
  background: url(../img/header-bg3.jpg) no-repeat center center
  background-size: cover
  background-attachment: fixed
  z-index: -1

.resume-link-header
  position: absolute
  top: 1em
  right: 1em
  color: white
  a
    color: white
    text-decoration: underline
  a:hover
    color: darken(white, 20%)
  a:active
    color: darken(white, 40%)

.header-wrap
  height: 100%

.header-nq
  position: relative
  top: 0%
  transform: translateY(-50%)
  text-align: center
  color: $ut-color-white
  padding: 0 0.5em
  transition: top ease 1s
  h1
    font-weight: normal
    margin-top: 0
    opacity: 0
    color: $ut-color-white
    text-shadow: 2px 2px 2px rgba($ut-color-dark-gray, 0.75)
    transition: opacity ease 2s
  p
    position: relative
    left: 150%
    transform: translateX(-50%)
    max-width: $ut-paragraph-width-readable / 1.5
    text-shadow: 2px 2px 2px rgba($ut-color-dark-gray, 0.75)
    transition: left ease 1s
    margin-top: 0.5em

  .tagline
    font-family: $ut-font-open-sans
    overflow: hidden
    text-align: center
    margin: 0.5em auto
    margin-bottom: 1.5em
    max-width: 40em
    color: $ut-color-white
    text-shadow: 2px 2px 2px rgba($ut-color-dark-gray, 0.75)
    background: rgba($ut-color-dark-gray, 0.5)
    padding: 0.5em
    border-radius: 2px
    &::before,
    &::after
      background-color: $ut-color-white
      content: ""
      display: inline-block
      height: 2px
      position: relative
      vertical-align: middle
      width: 50%
    &::before
      right: 0.5em
      margin-left: -50%
    &::after
      left: 0.5em
      margin-right: -50%


.header-nav
  text-align: right
  font-size: 1.5em
  color: $ut-color-white
  ul
    position: absolute
    top: 0
    right: 0
    li
      display: inline-block
// Header
//========
